/** {
  border: 1px solid purple;
}*/

.row {
    margin-bottom: 1px;
}

#task-submit {
position: relative;
bottom: -25px;

}

.currentTaskHeader, .completedTaskHeader {
  border: 1px solid darkgrey;
  height: 2em;
  font-weight: bold;
}

.currentTaskHeader {
  background-color: lightgoldenrodyellow;
}

.completedTaskHeader {
background-color: #e7fee7;
}



input.task, input.dueDate, input.priority  {
  min-height: 34px;
  overflow: visible;
    border: 1px solid darkgrey;
}

select.priority {
  /*margin-top: 5px;
  margin-bottom: 4px;*/
  height: 34px;
}


.completedButton, .deleteButton, .updateButton, .unCompleteButton {
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
}

.toDelete {
  background-color: red;
  background: red;
  color: white;
  max-height: 34px;
}

div#completedTaskList div.row:nth-child(odd) input, div#taskList div.row:nth-child(odd) input {
  background-color: aliceblue;
}

.priority {
  height: 25px;
}
